*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url("background.png") no-repeat center center/cover;
    height: 100vh;
    /* border: 3px solid red; */
}

/* Main Section Start here */

.container{
    /* border: 3px solid; */
    width: 450px;
}

h1{
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
}

.modal{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

.img-resp{
    /* border: 3px solid red; */
    position: absolute;
    height: auto;
    max-width: 25%;
    left: 55%;
    top: 19%;

}

h2{
    color: #2F527B;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 4rem;
}

ul{
  list-style: none;
}
li{
    /* border: 3px solid; */
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 14px;
    border: 2px solid rgba(96, 102, 208, 0.8);
    font-size: 17px;
    transition: all 0.2s ease-in;
    color: rgba(96, 102, 208, 0.8);
}
li:hover{
    background-color: rgb(255, 198, 42);
    color: white ;
    border: 2px solid rgb(255, 198, 42);
}
p{
    font-size: 19px;
    color: white;
    text-align: center;
}

/* Footer Section Starts here */

footer{
    /* border: 3px solid; */
    position: absolute;
    bottom: 0.5rem;
    /* margin: auto; */
    left: 40%;
}

/* Customizing Our Menu component based on the opion given by user */

.h-primary{
    font-size: 1.6rem;
}

.h-flag{
    margin:1.5rem 2rem;
}

.h-loading{
    font-size: 1.6rem;
    margin: 1.5rem 1rem 1rem;
}

.flag{
    position:relative;
    top: 34%;
    left: 42%; 
}
.globe{
    top:11%
}
.winner{
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%; 
}
button{
    width: 50%;
    padding: 1rem;
    border-radius: 15px;
    font-size: 15px;
    border: 2px solid rgb(1, 74, 138);
    color: rgb(12, 35, 179);
    background-color: white;
}
button:hover{
    background-color: rgb(255, 198, 42);
    color: white;
    border: 2px solid rgb(255, 198, 42);
    transition: all 0.2s ease-in;
}

.h-result{
    font-size: 3rem;
}

.result{
    color : rgb(1, 74, 138);
    margin: 1rem 0.5rem;
}

